<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Flash of Brilliance" />
     <meta property='og:image' content="<%= image_url('HomePage.png') %>"/>
     <meta property="og:description"
       content="A fullstack Brainscape clone where users can write flashcards, 
       create flashcard decks, read their own and other users’ flashcards, 
       and delete their own flashcards."
     />
     <meta property="og:url"
       content="https://flash-of-brilliance.herokuapp.com/#/"
     />
    <title>FlashOfBrilliance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script>
      window.github = "<%= image_url('github-square.svg') %>";
      window.linkedin = "<%= image_url('linkedin.svg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
