<!DOCTYPE html>
<html>
  <head>
  <script>
(function(apiKey){
    (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
    v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
        o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
        y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
        z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
})('3f1fc066-3ec9-460d-6a7b-c238a1fb5bf6');

// in your authentication promise handler or callback
    pendo.initialize({
        visitor: {
            id:              'Test Here'   // Required if user is logged in
            email:       'emailTest' // Recommended if using Pendo Feedback, or NPS Email
            // full_name:    // Recommended if using Pendo Feedback
            // role:         // Optional

            // You can add any additional visitor level key-values here,
            // as long as it's not one of the above reserved names.
        },

        account: {
            id:           'Account Test 1' // Required if using Pendo Feedback
            test:         'Account Test 2'
            // name:         // Optional
            // is_paying:    // Recommended if using Pendo Feedback
            // monthly_value:// Recommended if using Pendo Feedback
            // planLevel:    // Optional
            // planPrice:    // Optional
            // creationDate: // Optional

            // You can add any additional account level key-values here,
            // as long as it's not one of the above reserved names.
        }
    });
</script>
    <meta property="og:title" content="Flash of Brilliance" />
     <meta property='og:image' content="<%= image_url('HomePage.png') %>"/>
     <meta property="og:description"
       content="A fullstack Brainscape clone where users can write flashcards, 
       create flashcard decks, read their own and other users’ flashcards, 
       and delete their own flashcards."
     />
     <meta property="og:url"
       content="https://flash-of-brilliance.herokuapp.com/#/"
     />
    <title>FlashOfBrilliance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script>
      window.github = "<%= image_url('github-square.svg') %>";
      window.linkedin = "<%= image_url('linkedin.svg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
